{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <title>Title</title>
</head>
<body>
<section class="main">
    <div class="photo-container">
        <img class="photo" src="{% static 'images/IMG_1477.jpg' %}">
    </div>
    <div class="main-text">
        <h1>Hi! My name is Kristiyan</h1>
        <h3>I'm a Python student and Senior Panel Data Analyst at NIQ</h3>
    </div>
</section>


</section>

<section class="about">
    <img id="coder-photo" src="{% static 'images/coder_png.png' %}">

    <ul>
        <li><h3>Motivated student with a strong interest in IT</h3></li>
        <li><h3>Passion for solving problems through code, specializing in Python, Django and PostgreSQL</h3></li>
        <li><h3>Solid background in data analysis, marketing research</h3></li>
        <li><h3>Ex-sportsmen and a team player with strong discipline and leadership</h3></li>
        <li><h3>UEFA "C" certificated football coach</h3></li>
    </ul>

    <img id="coach-photo" src="{% static 'images/coach_png.png' %}">
</section>

<section class="skills">
    <div class="icons-container">
        <img class="skill-icon" src="{% static 'images/skills_icons/python.png' %}">
        <img class="skill-icon" src="{% static 'images/skills_icons/javascript.png' %}">
        <img class="skill-icon" src="{% static 'images/skills_icons/django.png' %}">
        <img class="skill-icon" src="{% static 'images/skills_icons/postgres.png' %}">
        <img class="skill-icon" src="{% static 'images/skills_icons/docker.png' %}">
        <img class="skill-icon" src="{% static 'images/skills_icons/jenkins.png' %}">
        <img class="skill-icon" src="{% static 'images/skills_icons/git-.png' %}">
        <img class="skill-icon" src="{% static 'images/skills_icons/github.png' %}">
        <img class="skill-icon" src="{% static 'images/skills_icons/terraform.png' %}">
        <img class="skill-icon" src="{% static 'images/skills_icons/pycharm.png' %}">
        <img class="skill-icon" src="{% static 'images/skills_icons/vs-code.png' %}">
        <img class="skill-icon" src="{% static 'images/skills_icons/html.png' %}">
        <img class="skill-icon" src="{% static 'images/skills_icons/css.png' %}">
        <img class="skill-icon" src="{% static 'images/skills_icons/postman.png' %}">
        <img class="skill-icon" src="{% static 'images/skills_icons/canva.png' %}">
    </div>
    <div class="cv">
        <a id="cv-button">download CV</a>
    </div>
</section>

<section class="certificates">
    
    
</section>

<section class="contacts">
    
    
</section>



</body>
</html>