/*........ main ........*/


#football-main{
    background-color: #353839;
    color: #C7EDE6;
}

/*........ about ........*/

#football-about{
    background-color: lightgrey;
    display: flex;
    justify-content: space-around;
}

ul.football{
    text-align: left;
}

.football-cv{
    margin: 4rem 0 0 0 ;
    text-align: center;
}

#football-cv-button{
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #759238;
    color: #1A2421;
    padding: 1rem 3rem;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    cursor: pointer;
}

#football-cv-button:hover{
    font-weight: bold;
    background-color: #353839 ;
    color: #C7EDE6;
    padding: 1rem 3rem;
    border: 5px solid whitesmoke;
    border-radius: 15px;
}

.football-licences {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center the certificates */
    gap: 1rem; /* Add spacing between images */
    padding-left: 2rem;
}

img#football-coach-photo{
    max-width: 280px;
}


img.licence{
    max-height: 250px;
    display: block; /* Ensures images take up full width */
    margin: 0 auto 1rem auto; /* Centers each image with spacing */
    max-width: 100%; /* Ensures images resize well */
}

img.udostoverenie{
    max-height: 200px;
    display: block; /* Ensures images take up full width */
    margin: 0 auto 1rem auto; /* Centers each image with spacing */
    max-width: 100%; /* Ensures images resize well */
}

/*........ find-me ........*/

#football-find-me{
    display: block;
    text-align: center;
    padding: 2rem;
    background-color: #708090;
    text-align: center;
}

